<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>My Application</title>
	</head>
	<body>

    <footer  class="d-flex flex-wrap justify-content-center p-3 m-2 border-bottom bg-primary text-center" th:fragment="footer">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
        </svg>
        <span class="fs-4">Spring Boot and Spring DATA JPA based web CRUD Operations</span>
      </a>

    </footer>
	</body>
	</html>