
<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>My Application</title>
	</head>
	<body>
<header class="d-flex flex-wrap justify-content-center p-3 m-2 border-bottom"  th:fragment="header">
	
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
        </svg>
        <span class="fs-4">Spring Boot and Spring DATA JPA based web CRUD Operations</span>
      </a>

      <ul class="nav nav-pills"><li class="nav-item"><a th:href="@{/home}" class="nav-link active btn m-2" aria-current="page">Home</a></li>
        <li class="nav-item"><a th:href="@{/insertdataform}" class="nav-link active btn m-2" aria-current="page">Insert</a></li>
        <li class="nav-item"><a th:href="@{/datalist}" class="nav-link active btn m-2 px-4" aria-current="page">List</a>
        <li class="nav-item"><a th:href="@{/searchbyemail}" class="nav-link active btn m-2 px-4" aria-current="page">Search</a></li>
        <li class="nav-item"><a href="./about.html" class="nav-link active btn m-2 px-4" aria-current="page">About</a></li>
      </ul>
    </header>
	</body>
	</html>
